@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
  background-image: url("/images/bg.png");
  background-size: cover;
}

.form-control {
  border: 1px solid #A0A0AB;
  border-radius: 3px;
  padding: 8px 10px;
  margin-top: 5px;
  margin-bottom: 25px;
  color: #1b1b1b;
  display: flex;
  gap: 15px;
  align-items: center;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
