@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
  background-image: url("/images/bg.png");
  background-size: cover;
}

.form-control {
  border: 1px solid #A0A0AB;
  border-radius: 3px;
  padding: 8px 10px;
  margin-top: 5px;
  margin-bottom: 25px;
  color: #1b1b1b;
  display: flex;
  gap: 15px;
  align-items: center;
}

.list {
  padding: 12px 20px;
  font-size: 15px;
  font-weight: bold;
  color:#757575;
}
.list:hover {
  background-color: #ffe7e5;
}

.input-regis {
  border: 1px solid #A0A0AB;
  border-radius: 10px;
  width: 400px;
  padding: 8px 10px;
  margin-top: 5px;
  margin-bottom: 25px;
  color: #1b1b1b;
  display: flex;
  gap: 5px;
  align-items: center;
}

.label-regis {
  color: #3F4045;
  font-weight: bold;
}

.verification-control {
  border: 1px solid #A0A0AB;
  border-radius: 3px;
  padding: 10px 10px;
  margin-top: 5px;
  margin-bottom: 25px;
  color: #1b1b1b;
  display: flex;
  gap: 15px;
  align-items: center;
  width: 50px;
  text-align: center;
  font-weight: bold;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.no-spinner[type="number"] {
    -moz-appearance: textfield;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
